name: Deploy Wiki

on:
  # push:
  #   branches:
  #     - main
  # schedule:
  #   - cron: "0 10 5,15,25 * *"
  repository_dispatch:
    types: [deploy-event]

jobs:
  deploy:
    permissions:
      pages: write
      id-token: write
      contents: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: 3.x
      USER: ${{ github.repository_owner }}
      # REPO_NAME: ${{ github.event.repository.name }}
      REPO: ${{ secrets.REPO }}

    steps:
      - name: Checkout site
        uses: actions/checkout@v6
      - name: Checkout data
        uses: actions/checkout@v6
        with:
          repository: ${{ env.USER }}/${{ env.REPO }}
          token: ${{ secrets.GH_TOKEN }}
          path: ${{ env.REPO }}
          fetch-depth: 1
          ref: ${{ github.ref }}
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Build
        run: bash ${{ env.REPO }}/deploy.sh ${{ env.REPO }}

      - name: Git auto commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_user_name: "github-actions[bot]"
          commit_user_email: "41898282+github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          commit_message: Automated update by github action
          # commit_options: '--no-verify --signoff'
          push_options: "--force"
          file_pattern: "README*.md data/"

      - name: Setup pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@v4
